@using Market.Data.Models
@model Review
@{
    string stars = "";
    for (int i = 0; i < Math.Floor(Model.Rating); i++)
    {
        stars += "⭐";
    }
}

<div class="offer-partial-container">
    <div>
        <h2>@(Model.FirstName + " " + stars)</h2>
        <p>@Model.Description</p>
    </div>
</div>