@using Market.Data.Models
@model Purchase
@{


    ViewData["Title"] = "Cart";
}

<div class="black-container">
    <div class="cart-container">
        <h1>Cart</h1>
        <div class="cart-orders-container">
            @foreach (Order order in Model.Orders)
            {
                <div class="cart-order-container">
                    <h2>
                        @order.Title
                    </h2>
                </div>
            }
        </div>
    </div>
</div>
