@using Market.Data.Models
@model List<Offer>

@{
    ViewData["Title"] = "Offers";
}
<div class="gapped">
    @foreach (Offer offer in Model)
    {
        <partial name="_OfferPartial" model="@offer" />
    }
</div>

